.navbar{
    color: #F19201;
    display: flex;
    justify-content: space-between;
    display: flex;
    padding-left:50px;
}

#moringa_button{
    background-color: #F19201;
    color: white;
    justify-content: space-around;
}

#order_now{
    background-color: #F19201;
    color: white;
}

.button1{
    padding: 10px;
    border-radius: 100%;
    background-color: #F19201;
    color: white;
    border:solid 1px white;
    margin: 5px;
}

.row{
    display: flex;
    justify-content: space-around;
    justify-items: center;
}

.section_three{
    background-color: black;
    color: white;
    display: flex;
}

.section_one{
    color: white;
    background-image: url('img/pancakes_image2.png');
    background-size: 1250px;
    width: 1250px;
    height: 1250px;
    height: 40%;
}

.section_five{
    background-image: url('img/restaurant_footer_image8.png');
    background-size: 1250px;
    height: 100%;
    color: white;
    text-align: center;
}

.footer{
    color: white;
    background-color: black;
    text-align: center;
}

.services_color{
    color: #F19201;
    
}

.section_two{
    text-align: center;
}

.reviews{
    text-align: center;
    margin: auto;
}

.menu{
    text-align: center;
}

.grey{
    background-color: rgb(228, 224, 224);
}

.white_border{
    border-style: solid;
    border-color: white;
    background-color: white;
    width: 40%;
    display: inline-flex;
    margin: auto;
    line-height: 15px;
    margin-right: 20px;
}

.white_border_1{
    border-style: solid;
    border-color: white;
    background-color: white;
    width: 40%;
    margin: auto;
    display: inline-flex;
    line-height: 15px;
    margin-right: 20px;
}

.main_container{
    display: flexbox;
    width: 100%;
    height: 100%;
    justify-items: space-between;
    text-align: center;
}

.section_four{
    align-content: center;
}

.row{
    border-style: solid;
    border-color: white;
    background-color: white;
    display: inline-flexbox;
    margin-bottom: 5%;
    justify-content: space-around;
}

.space_1{
    padding: auto;
    margin-right: 3%;
    justify-content: space-between;
}

.space{
    padding: auto;
    margin-right: 3%;
    justify-content: space-between;
}

.space_2{
    padding: auto;
    margin-right: 3%;
    justify-content: space-between;
}

.sub_container_1{
    margin-bottom: 10px;
}

.premium{
    padding-left: 10%;
}

.logo{
    padding-right: 10%;
}