.navbar{
    color: #F19201;
    display: inline-flex;
}

#moringa_button{
    background-color: #F19201;
    color: white;
}

#order_now{
    background-color: #F19201;
    color: white;
}

.button1{
    padding: 10px;
    border-radius: 100%;
    background-color: #F19201;
    color: white;
    border:solid 1px white;
    margin: 5px;
}

.row{
    display: flex;
    justify-content: space-around;
    justify-items: center;
}

.section_three{
    background-color: black;
    color: white;
    display: flex;
}